
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.container {
    width: 100%;
    margin: 0 auto;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

main {
    display: flex;
    padding: 20px;
}


.timeline {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
}

article {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
}

article h2 {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    margin: 0 0 20px 0;
}

.author {
    text-align: left;
}

.side-menu {
    flex: 1;
    background-color: #888;
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}
